.input  {
  max-width: 377px;
  margin-right: 16px;
}

.input_box {
  display: flex;
  justify-content: center;
}

.circle_box {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.circle {
  margin-right: 8px;
}